.contenedor {
   display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .columna {
    max-width: 400px;
    margin: 15px;
    height: auto;
    width: 80%;
    border-radius: 15px;
  }
  
 
  
  
