.contenedor {
    display: flex;
    justify-content: center;
  }
  
  .caja {
    position: relative;
    border:2px solid black
  }
  
  .boton {
    position: absolute;
    right: 8px;
    top: 0;
    height: 100%;
  }
  
  .input {
    font-size: 1.2rem;
    height: 30px;
    border-radius: 5px;
    padding: 5px 30px 5px 10px;
    border: 1px solid white;
  }
  
  .input:focus,
  .boton:focus {
    outline: none;
    border: 1px solid #f88ec2;
    box-shadow: 0 0 5px #ebbed4;
  }