.peliculaCard {
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
}

.peliculaCard:hover {
  opacity: 0.7;
}

.imagenPelicula {
  border-radius: 15%;
  background-color: azure;
}

@media (max-width: 560px) {
  .imagenPelicula {
    width: 90%;
    height: auto;
  }
}